/* Importation Police d'Ecriture */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Parisienne&display=swap");
/* CSS de base */
section,
footer,
nav {
  font-family: "Source Sans Pro", sans-serif;
}
body {
  margin: 0;
  background-color: #fcf5ee;
}
html {
  scroll-behavior: smooth;
}
.A {
  font-family: "Berkshire Swash", cursive;
  font-family: "Parisienne", cursive;
}
/* Header / Navigation / Menu */
.logo_background {
  display: block;
  height: 350px;
  background: no-repeat url("../images/fond.jpg");
  background-size: 100% 100%;
  filter: blur(8px);
}
.text {
  font-family: "Great Vibes", cursive;
  position: absolute;
  top: 100px;
  width: 100%;
  z-index: 2;
  font-size: 500%;
}
.text a {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
nav {
  width: 100%;
  background-color: #fce6d1;
  text-align: center;
  height: 71px;
  position: sticky;
}
nav a {
  padding: 20px 10px;
  text-decoration: none;
  color: #605758;
  font-weight: bolder;
  font-size: 150%;
  display: inline-block;
}
nav a:hover {
  color: black;
}
.menu-active {
  background-color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#menu-deroulant:after {
  cursor: pointer;
  font-size: 20px;
  content: "▼";
  padding: 8px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  background-color: #fce6d1;
  width: 100%;
  position: absolute;
  height: absolute;
  z-index: 1;
}
.dropdown-child a {
  color: #605758;
  padding: 8px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
}
.nav_class .icon {
  display: none;
}
@media screen and (max-width: 800px) {
  .nav_class a {
    display: none;
  }
  .nav_class a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .nav_class.responsive {
    position: absolute;
    z-index: 1;
    background-color: #fce6d1;
    height: 440px;
  }
  .dropdown {
    border: 4px solid #fad7b7;
  }
  .dropdown-child {
    border: 4px solid #fad7b7;
  }

  .nav_class.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav_class.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
/* Accueil (Actualités) */
.actu {
  display: block;
  margin: 0 auto 40px;
  text-align: center;
  background-color: white;
  box-shadow: 10px 5px 4px black;
  width: 90%;
  min-width: 250px;
}
.actu h1 {
  color: black;
  font-weight: bolder;
}
.actu h3 {
  color: #605758;
}

/* Accueil (Diaporama) */
.conteneur1 {
  overflow: hidden;
  width: 100%;
}
.d1 {
  width: 4000px;
  height: 500px;
  background-color: #ededed;
  background-image: url("../images/diaporama.png");
  background-size: contain;
  animation: defilement1 20s linear infinite;
}
@keyframes defilement1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-2880px, 0);
  }
}
/* Accueil (Présentation Association) */
#accueil {
  margin-left: 10px;
}

.adh a:visited {
  color: green;
}

.adh a:hover {
  color: burlywood;
}

#accueil h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 26px;
}
#accueil p {
  font-weight: bold;
  font-size: 23px;
}

#accueil ul {
  font-size: 19px;
}

.adh {
  text-align: center;
  text-decoration: none;
}

/* Histoire Vitotel */
#histoire h1 {
  text-align: center;
  margin-top: 20px;
}

#histoire h4 {
  text-align: center;
}

#histoire p {
  margin-left: 20px;
  font-size: 20px;
}

#histoire_date {
  margin-left: 25px;
  font-size: 19px;
}
/* Cloche */
#cloche h1,
h4,
.par {
  text-align: center;
}
#cloche p {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 17px;
}
/* Poeme */
#poeme h1 {
  text-align: center;
}
/* La cure */

#cure h1 {
  color: red;
  text-align: center;
}

#cure ul {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 17px;
}
/* Querelles */
#querelle h1 {
  text-align: center;
}
p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 17px;
}

/* Vie communale  */
#viecom h1 {
  text-align: center;
  margin-top: 20px;
}

#viecom h4 {
  text-align: center;
}

#viecom h5 {
  text-align: center;
  color: orange;
  font-size: 15px;
}

#viecom_date a:visited {
  color: green;
}

#viecom_date a:hover {
  color: burlywood;
}

#viecom_date h5 {
  text-align: center;
  color: orange;
  font-size: 15px;
}

#viecom p {
  margin-left: 20px;
  font-size: 20px;
}

#viecom_date {
  margin-left: 25px;
  font-size: 19px;
}

/* Descriptif Hotel 1913 */
#descriptif1 h1,
p.par,
h3 {
  text-align: center;
}

p {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 17px;
}

/* Descriptif Hotel 1962 */
#eglise h1 {
  text-align: center;
}

/* Photos */
#photo {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.accordion {
  background-color: #fad7b7;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  font-size: 100%;
  text-align: center;
  display: block;
  margin: 20px auto;
}

.active,
.accordion:hover {
  background-color: hsla(0, 0%, 0%, 0.92);
  color: white;
}

.accordion:after {
  content: "\002B";
  color: gray;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 70%;
  display: block;
  margin: 0 auto;
}
.panel img {
  margin: 0 15px;
  width: 50%;
}
/* Pélérinage */
#pelerinage h1 {
  color: red;
  text-align: center;
}
#pelerinage h2 {
  text-align: center;
}
#pelerinage p {
  text-indent: 35.4pt;
  font-size: 17px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Adhésion */
.adhesion {
  text-align: center;
}
.lien_adhesion {
  display: block;
  margin: 20px auto;
  text-decoration: none;
  color: black;
  padding: 15px;
  background-color: #fce6d1;
  width: 150px;
  font-size: 125%;
}
.lien_adhesion:hover {
  background-color: #605758;
  color: white;
  transition: 2s all;
}

/* Contact */

.contactform {
  font-family: "Sansita Swashed", cursive;
  text-align: center;
  background-color: #fcf5ee;
}
label {
  border: 1px solid black;
  text-align: center;
  display: block;
  width: 100px;
  margin: 0 auto -30px;
}
form hr {
  height: 2px;
  background-color: grey;
}
.bouton {
  border-radius: 12px 0 12px 0;
  background: grey;
  border: none;
  color: #fff;
  font: bold 12px Verdana;
  padding: 6px 0 6px 0;
  text-align: center;
}
iframe {
  margin: 0 auto 10px;
  display: block;
}
/* Plan du site & Mentions Légales */

.plan-du-site {
  margin-left: 50px;
  margin-bottom: 20px;
}
.mentions-legales {
  text-align: center;
  padding: 10px 20px;
}
.plan-du-site h1 {
  text-align: center;
}
/* Footer (Bas-De-Page) */
footer {
  background-color: #fad7b7;
  margin-bottom: -20px;
  padding: 10px 0;
  text-align: center;
}

.fas {
  font-size: 25px;
  margin: 20px;
  color: #605758;
  height: 30px;
}
